# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Vite build output
dist/
.vite/

# Log files
logs/
*.log

# dotenv environment files
.env
.env.*

# OS & IDE-specific files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# Docker
*.pid
docker-compose.override.yml

# Grafana
grafana-storage/

# Prometheus
prometheus-data/